body {
	padding-top: 56px; 
}

/* --- Layout Principal --- */
.layout-main {
	display: flex;
	background-color: #0a4e92;
	min-height: calc(100vh - 56px); 
}

/* --- Menu Lateral (Sidebar) --- */
.sidebar {
	width: 200px;
	background-color: #0a4e92;
	border-right: 1px solid #dee2e6;
	padding-top: 20px;
}

.sidebar .nav-link {
	color: #333;
}

.sidebar .nav-link:hover {
	background-color: #0a4e92;
}

/* --- Área de Conteúdo --- */
section[layout\:fragment="corpo"] {
	flex-grow: 1; 
	padding: 20px;
}

/* --- Rodapé --- */
.layout-footer {
	height: 40px;
	line-height: 40px;
	background-color: #0a4e92;
	color: #fff;
	text-align: center;
	width: 100%;
}