<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.thymeleaf.org/extras/spring-security">
<body>
    <header th:fragment="header">
        <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
            <div class="container-fluid">
                <a class="navbar-brand" th:href="@{/}" th:text="#{header.titulo}">Concessionária DSW</a>
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                    <ul class="navbar-nav ms-auto">
                        <li class="nav-item">
                            <div>
                                <a th:href="@{''(lang=pt)}"><img alt="#{header.lang.pt}" th:src="@{/image/Brasil.gif}" style="width: 30px;" /></a>
                                <a th:href="@{''(lang=en)}"><img alt="#{header.lang.en}" th:src="@{/image/EUA.gif}" style="width: 30px;" /></a>
                            </div>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{/login}" th:text="#{header.login}">Login</a>
                        </li>
                        <li class="nav-item" sec:authorize="isAnonymous()">
                            <a class="nav-link" th:href="@{/clientes/cadastrar}" th:text="#{header.cadastro}">Cadastre-se</a>
                        </li>

                        <li class="nav-item" sec:authorize="hasRole('ADMIN')">
                            <a class="nav-link" th:href="@{/admin/home}" th:text="#{header.admin}">Painel Admin</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('STORE')">
                            <a class="nav-link" th:href="@{/veiculos/listar}" th:text="#{header.veiculos}">Meus Veículos</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('STORE')">
                            <a class="nav-link" th:href="@{/propostas/loja}" th:text="#{header.propostas.recebidas}">Propostas Recebidas</a>
                        </li>
                        <li class="nav-item" sec:authorize="hasRole('CLIENT')">
                            <a class="nav-link" th:href="@{/propostas/cliente}" th:text="#{header.propostas.minhas}">Minhas Propostas</a>
                        </li>

                        <li class="nav-item dropdown" sec:authorize="isAuthenticated()">
                            <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                                <span sec:authorize="hasRole('ADMIN')" th:text="#{header.admin.saudacao}">Administrador</span>
                                <span sec:authorize="hasAnyRole('STORE', 'CLIENT')">
                                    <span th:text="#{header.ola}">Olá,</span> <span th:text="${#authentication.principal.usuario.nome}"></span>
                                </span>
                            </a>
                            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                                <li>
                                    <form th:action="@{/logout}" method="post">
                                        <button type="submit" class="dropdown-item" th:text="#{header.logout}">Logout</button>
                                    </form>
                                </li>
                            </ul>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</body>
</html>