<!DOCTYPE html>
<html lang="pt-br" xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout}">
<head>
    <title th:text="${veiculo.modelo}"></title>
</head>
<body>
    <section layout:fragment="content">
        <div class="row">
            <div class="col-md-7">
                <div class="card">
                    <div class="card-body text-center">
                        <h5 class="card-title" th:text="#{detalhe.veiculo.galeria}">Galeria de Fotos</h5>
                        <div class="row">
                            <div th:each="foto : ${veiculo.fotos}" class="col-md-4 mb-2">
                                <img th:src="@{/veiculos/imagem/{id}(id=${foto.id})}" alt="Imagem do veículo" class="img-thumbnail" style="width: 100%; height: auto;">
                            </div>
                        </div>
                    </div>
                </div>
            </div>

            <div class="col-md-5">
                <h2 th:text="${veiculo.modelo}">Modelo do Veículo</h2>
                <h4 class="text-muted" th:text="#{detalhe.veiculo.ano} + ' ' + ${veiculo.ano}">Ano</h4>
                <hr>
                <h3 class="text-success fw-bold mt-3" th:text="#{detalhe.veiculo.valor} + 'R$ ' + ${#numbers.formatDecimal(veiculo.valor, 1, 'POINT', 2, 'COMMA')}">R$ 90.000,00</h3>
                <p class="mt-3">
                    <strong th:text="#{detalhe.veiculo.vendido.por}">Vendido por:</strong> 
                    <span th:text="${veiculo.loja.nome}">Nome da Loja</span>
                </p>
                
                <div class="d-grid gap-2 mt-4">
                     <a th:href="@{/propostas/fazer/{id}(id=${veiculo.id})}" class="btn btn-success btn-lg" th:text="#{detalhe.veiculo.botao.proposta}">Fazer Proposta</a>
                </div>
            </div>
        </div>
        
        <div class="row mt-5">
            <div class="col-12">
                <h3 th:text="#{detalhe.veiculo.descricao.titulo}">Descrição</h3>
                <p th:text="${veiculo.descricao}"></p>
                <hr>
                <h3 th:text="#{detalhe.veiculo.detalhes.tecnicos.titulo}">Detalhes Técnicos</h3>
                <ul class="list-group list-group-flush">
                    <li class="list-group-item"><strong th:text="#{detalhe.veiculo.placa}">Placa:</strong> <span th:text="${veiculo.placa}"></span></li>
                    <li class="list-group-item"><strong th:text="#{detalhe.veiculo.chassi}">Chassi:</strong> <span th:text="${veiculo.chassi}"></span></li>
                    <li class="list-group-item"><strong th:text="#{detalhe.veiculo.quilometragem}">Quilometragem:</strong> <span th:text="${#numbers.formatInteger(veiculo.quilometragem, 1, 'POINT')} + ' km'"></span></li>
                </ul>
            </div>
        </div>
    </section>
</body>
</html>